.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 10px);
}

.photo-card {
  flex-basis: calc(100% / 4 - 10px);
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.photo-card > img {
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  font-family: montserrat;
  font-size: 12px;
  font-weight: 700;
}

.load-more {
  margin: 10px auto;
  display: block;
  border: none;
  padding: 2px 10px;
  height: 32px;
  font-family: montserrat;
  font-weight: 400;
  color: #000;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
